<p id="notice"><%= notice %></p>

<p>
  <strong>Descripion:</strong>
  <%= @description_file.descripion %>
</p>

<p>
  <strong>User story:</strong>
  <%= @description_file.user_story_id %>
</p>

<p>
  <strong>Source:</strong>
  <%= @description_file.source %>
</p>

<p>
  <strong>User story:</strong>
  <%= @description_file.user_story %>
</p>

<%= link_to 'Edit', edit_description_file_path(@description_file) %> |
<%= link_to 'Back', description_files_path %>
